ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}
.container{
    width: 700px;
}

.menuCategory{
    width: 600px;
    display: inline-block;
}
.menuCategory .select{
    padding: 0 20px;
    width: 30px;
    display: inline-block;
}

.num_1{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.num_2{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: red;
}

.off{
    display: none;
}